<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>

<listener class-name = "LearningTestNG.CustomListeners"></listener>
<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>

</listeners>
  <test name="Login Test">
    <classes>
      
      <class name="LearningTestNG.TestCase1"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="validate title Test">
    <classes>
      
      <class name="LearningTestNG.TestCase2"/>
      
    </classes>
  </test> <!-- Test -->
  
  <test name=" depedency Test">
    <classes>
      <class name="LearningTestNG.TestCase3"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
